<h2 margin="10px">Login</h2>

<form action="/sessions" method="post">
<div class="mb-4"> 
  <label for="username_input" class="form-label">Username</label>
  <input type="text" name="username" id="username_input" class="form-control" placeholder = "e.g. johnsmith">
</div>

<div class="mb-4">
  <label for="email_input" class="form-label">Email</label>
  <input type="text" name="email" id="email_input" class="form-control" placeholder = "e.g. jsmith@gmail.com">
</div>

<div class="mb-4">
  <label for="password_input" class="form-label">Password</label>
  <input type="password" name="password" id="password_input" class="form-control" placeholder = "Enter password">
</div>

  <button class="btn btn-outline-dark">Login</button>
</form>
